<body>
  <main>
    <ul>
      <li><h2>CV</h2></li>
      <li><h3>Education</h3></li>
      <li><h3>Employment History</h3></li>
      <li>
        <h4>Lecturing</h4>
        <span>2016 - now</span>
      </li>
    </ul>
  </main>
</body>
